body, #app, main {
  height: 100%;
}

h1 {
  font-family: 'Rubik', sans-serif;
}

h2 {
  font-family: 'Dosis', sans-serif;
}

.md-whiteframe-2dp {
  margin-bottom: 1em;
}

.container {
  width: 60em;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex.center {
  justify-content: center;
  align-items: center;
}
